/* ------ Courses page ------ */
.container__divided {
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: 1fr;
}

/* .courses__container__divided > .container__right  {
    height: 500px;
    overflow-y: auto;
  } */

/*Courses cards*/
.course__card__list {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  padding: 20px 0px 0px 40px;
}

/* ------ Students page ------ */
.students__container__divided {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.students__container__divided .container__up {
  padding: 0;
  display: grid;
}

.students__container__divided .container__bottom {
  padding-top: 40px;
}

/*Student cards*/
.student__card__list {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
}

/* ------ Edit student page ------ */
.student__edit__container {
  padding: 0 10%;
}

/* ------ Edit course page ------ */
.course__body__container__divided {
  display: grid;
  grid-template-rows: 1fr auto;
}

.course__container__up {
  padding: 0 15%;
}

.resource__container__divided {
  display: grid;
  grid-template-columns: 30% auto;
}

/*Resource cards*/
.resource__card__list {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  margin: 15px 0px 0px 50px;
}
